body {
  margin: 0;
  padding: 0;
}

.image-eyedropper-mode-wrapper {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-color: #0e1923;
}

.upload-image {
  position: relative;
  width: 100%;
  background-color: #0e1923;
}

.eyedrop-wrapper {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
  background-color: #0e1923;
}

.eyedrop-wrapper .react-eyedrop-button {
  color: black;
  background-color: rgb(216, 216, 216);
}

.eyedrop-color {
  height: 40px;
  width: 40px;
  border-radius: 12%;
  margin-top: 10px;
  border: inset white 3px;
}

.uploaded-image-wrapper {
  height: 100%;
  background-color: #7dffa8;
}

.uploaded-image-wrapper img {
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto;
}

.image-upload-wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-upload-wrapper h1 {
  color: #86e64a;
  border: 1px solid rgb(119, 166, 255);
  padding: 10rem;
  background-color: #293252;
}

.image-upload-btn-wrapper {
  position: relative;
  cursor: pointer;
}

.image-upload-field {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}

.sample-elm-wrapper {
  padding: 2rem;
  display: flex;
  color: white;
}

.sample-elm-wrapper > div {
  padding: 1rem;
}

.local-image-btn {
  position: relative;
  z-index: 1000;
}